*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --md: 768px;
}

.layout-title {
    font-size: 32px;
    padding: 24px 0;
}

@media screen and (max-width: var(--md)) {
    .layout-title {
        font-size: 20px;
    }
}